* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monda", sans-serif;
  line-height: 1.3;
  /* font-family: "Marvel", sans-serif; */
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

button:focus {
  outline: none;
}
